@model IEnumerable<SistemaPOS.Models.Producto>

@{
    ViewData["Title"] = "Productos";
    Layout = "_LayoutLogged";
}

<h1>Productos</h1>
<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Imagen</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Codigo</td>
                <td>@item.Nombre</td>
                <td>@item.Descripcion</td>
                <td>@item.Precio</td>
                <td>@item.Stock</td>
                <td>
                    <img src="@item.FotoUrl" alt="Producto" class="img-thumbnail" style="max-width: 100px;" />
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProductoId" class="btn btn-warning">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.ProductoId" class="btn btn-info">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.ProductoId" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
